.compose-post {
    position: sticky;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
    padding: 8px;
    border-top: 1px solid #ccc;
    padding-bottom: env(safe-area-inset-bottom);

    display: grid;
    grid-template-columns: 1fr auto;
    gap: 8px;
    grid-template-areas:
        "parents send"
        "summary send"
        "scope send"
        "contenttype send"
        "text send";

    & > .parents-list {
        grid-area: parents;
        display: flex;
        gap: 0.5em;
    }

    & > .scope-select {
        grid-area: scope;
    }
    & > .contenttype-select {
        grid-area: contenttype;
    }
    & > .summary-input {
        grid-area: summary;
    }
    & > .content-editor {
        grid-area: text;
    }
    & > .send-button {
        grid-area: send;
    }
}
