.compose-post {
    position: sticky;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
    padding: 8px;
    border-top: 1px solid #ccc;

    display: grid;
    grid-template-columns: 1fr auto;
    gap: 8px;
    grid-template-areas:
        "parents send"
        "scope send"
        "text send";

    & > .parents-list {
        grid-area: parents;
        display: flex;
        gap: 0.5em;
    }

    & > .scope-select {
        grid-area: scope;
    }
    & > .text-input {
        grid-area: text;
        resize: vertical;
        field-sizing: content;
        min-height: 2lh;
    }
    & > .send-button {
        grid-area: send;
    }
}
