.note-editor {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    & > .summary-input {
        width: 100%;
        box-sizing: border-box;
    }

    & > .content-editor {
        display: contents;
    }

    & > .actions {
        display: flex;
        gap: 8px;

        & > .delete-button {
            margin-inline-start: auto;
        }
    }

    & > .error {
        color: #b00;
    }
}
